@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Plus+Jakarta+Sans:ital,wght@0,200;0,400;0,500;0,700;1,300&display=swap');
/* vars */

$font-body: 'Montserrat';
$font-display: 'Plus Jakarta Sans';
$text-color: #121212;
$color-one: #e6dbc6;
$color-two: #f87270;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-body;
  color: $text-color;
  background-color: $color-one;
}

.app {
  // NAV
  nav {
    padding: 20px 4rem;
    z-index: 1;
    position: relative;

    .nav-menu {
      display: flex;
      gap: 12rem;
      a {
        text-decoration: none;
        font-size: 18px;
        color: $text-color;
        padding: 14px 0;
        font-weight: 500;
      }

      a.active {
        font-weight: 700;
      }
    }
  }
  //PAGE
  .page {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 6rem;
    align-items: center;

    .page-wrapper {
        width: 1200px;
    }

    //HOME
    .home-page {
        display: flex;
        flex-direction: column;
        padding-top: 6rem;
        .hero-section {
            display: flex;
            justify-content: space-between;
            .hero-left {
                flex-direction: column;
                display: flex;
                justify-content: space-between;
                h1 {
                    font-weight: 300;
                    font-size: 140px;
                    font-family: $font-display;
                }
                h2 {
                    font-weight: 300;
                    letter-spacing: 0.05em;
                    font-size: 40px;
                    color: gray;
                    margin-bottom: 0.1rem;
                }
            }
            .hero-right {
                img {
                    width: 400px;
                }
            }
        }
        
        .carousel-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        } 
    }
  }

              //CONTACT
              .contact-page {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $color-two;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
  
                .form-title {
                  width: 100%;
                  margin-bottom: 6rem;
                  h1 { 
                    font-size: 98px;
                    font-weight: 600;
                    color: white;
                  }
                }
      
                #form-wrapper {
                  width: 600px;
                  #contact-form {
                    /* background-image: url('../assets/images/formbg.jpg'); */
                    background-color: $color-two;
                    display: flex;
                    flex-direction: column;
                    padding: 50px;
                    border: 10px solid white;
                    gap: 2rem;
                    background-size: cover;
                    .form-field {
                      display: flex;
                      flex-direction: column;
                      input {
                        width: 100%;
                        font-size: 1.6rem;
                        padding: 8px 20px;
                        font-family: $font-body;
                        color: #121212;
                        outline: none;
                        border: none;
                        border-radius: 2px;
                      }
                      textarea {
                        width: 100%;
                      }
                    }
      
                  }
                }
              }
}

.carousel {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    .carousel-title {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
        h1{
            font-size: 46px;
            font-weight: 300;
        }
    }
    .carousel-feed {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .carousel-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 120px;
            height: 120px;
            img {
                width: 70px;
                height: 70px;
            }
        }
    }
}